*{
   font-family:'Courier New';
   background-color: #1d1d1d;
   scroll-behavior: smooth;
}
:root {
--Dark: #161616;
--DarkPink: #A04668;
--MidPink: #9a6f81;
--TextPink: #D9D0DE;
}

.header {
    display: flex;
    position:fixed;
    padding: 20px 20px 0 0;
    margin-top: -100px;
    margin-left: -13px;
    width: 100%;
    background: var(--Dark);
    color: var(--DarkPink);
    line-height: 20px;
    z-index: 5;
  }

#headertext {
color: var(--DarkPink);
background-color: var(--Dark); 
margin-left: 30px;
}

body {
    margin-top: 80px;
    margin-bottom: 100px;
}

h2{
margin-bottom: -15px;
margin-left: 90px;
color: var(--MidPink);
}

.headerunderline{
line-height: 10px;
}

.text {
    color: var(--TextPink);
    width: 700px;
    margin-left: 135px;
    margin-bottom: -10px;
    overflow-wrap: break-word;
    line-height: 25px;
}
header a{
    color: var(--DarkPink);
    float: right;
}

a:hover {
    color: rgb(34, 133, 88);
    transition: .3s;
  }

#darkbg{
    background-color: var(--Dark); 
}
.inline {
    float: left;
    padding: 0 45px 0 0;
}

#raspberry {
    object-fit: cover;
    position:absolute;
    right: 27px;
    top: 120px;
    border-radius: 30px;
    z-index: 0;
}

.capraspberry {
    position: absolute;
    right: 65px;
    top: 400px;
    padding: 4px;
    z-index: 0;
    color: var(--TextPink);
    border-bottom: 2px dotted var(--DarkPink);
    margin-bottom: 400px;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-left: -20px;
    padding: .03px 100% 13px 11px;
    background-color: var(--Dark);
    line-height:10px;
    width: 100%;
    z-index: 5;
}

.centered {
    text-align: center;
}


