*{
   font-family:'Courier New';
   background-color: #1d1d1d;
}
:root {
--Dark: #161616;
--DarkPink: #A04668;
--MidPink: #9a6f81;
--TextPink: #D9D0DE;
}

.header {
    display: flex;
    padding: 20px 20px 0 0;
    margin-top: -30px;
    margin-left: -13px;
    width: 100%;
    background: var(--Dark);
    color: var(--DarkPink);
    line-height: 20px;
    z-index: 5;
  }

#headertext {
color: var(--DarkPink);
background-color: var(--Dark); 
margin-left: 30px;
}

body {
    margin-top: 10px;
}

h2{
margin-bottom: -15px;
margin-left: 40px;
color: var(--MidPink);
}

.text {
    color: var(--TextPink);
    margin-left: 55px;
    margin-bottom: -10px;
    line-height: 20px;
}
a{
    color: var(--DarkPink);
    float: right;
}

a:hover {
    color: rgb(34, 133, 88);
  }

#darkbg{
    background-color: var(--Dark); 
}
.inline {
    float: left;
    padding: 0 45px 0 0;
}

#raspberry {
    object-fit: cover;
    position: absolute;
    right: 25px;
    border-radius: 30px;
    z-index: 2;
}

.capraspberry {
    position: absolute;
    right: 65px;
    top: 400px;
    padding: 4px;
    z-index: 2;
    color: var(--TextPink);
    border-bottom: 2px dotted var(--DarkPink);
}

.footer {
    position: fixed;
    bottom: 0;
    margin-left: -20px;
    padding: .03px 100% 13px 11px;
    background-color: var(--Dark);
    line-height:10px;
    width: 100%;
    z-index: 5;
}

.centered {
    text-align: center;
}