:root {
    --Dark: #161616;
    --DarkPink: #A04668;
    --MidPink: #9a6f81;
    --TextPink: #D9D0DE;
    }

.sidepanel {
    height: 160px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: -60px;
    background-color: #0b0b0b;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: #0b0b0b;
  }
  
  .sidepanel a:hover{
    color: var(--TextPink);
    background-color: rgb(34, 133, 88);
  }

  .sidepanel .closebtn {
    position: static;
    line-height: 20px;
    font-size: 20px;
  }
  
  .openbtn {
    font-size: 20px;
    position:fixed;
    top: 60px;
    left: -40px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px 10px 70px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
    transition: 0.3s;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    margin-left: 135px;
    width: 750px;
    height: 600px;
    grid-gap: 8px;
    background-color: var(--Dark);
    padding:8px;
  }

  .grid section {
    background-color: #1d1d1d;
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
    background-size: cover;
    opacity: 40%;
  }

    mark {
        color:var(--TextPink);
        font-style: italic;
  }

.grid section:hover {
    opacity: 90%;
    transition: .3s;
}

  .item1 {
    grid-row: 1/4;
     }

.img1 {
    background-image: url(./dried-raspberries-683x1024.jpg);
}

.img2 {
    background-image: url(./raspberry.x816dac31.jpg);
}

.img3 {
    background-image: url(./Raspberries\ \(1\).jpg);
}

.img4 {
    background-image: url(./raspberry_chocolate_protein_shake_2.jpg);
}

section ul {
    position:absolute;
    top: 990px;
    margin-bottom: 90px;
    list-style-type: none;

}

section ul li {
    background-color: var(--Dark);
    display: inline;
    padding: 10px;
    border-radius: 30px;
    width:auto;
}

section ul li a {
    background-color: var(--Dark);
    color: var(--DarkPink)
}

.paddingbottom {
    padding-bottom: 45px;
    margin-left: 50px;
}